@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

body {
  margin: 0;
  width: 100%;
  font-family: 'Libre Caslon Display', cursive, serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  overflow: hidden;
  word-break: keep-all;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.inner{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
html,body{
  overflow-x: hidden;
  overflow-y: hidden;
}